---
// Example: src/pages/index.astro
import '../styles/global.css';
import ProductCard from '/src/elm/ProductCard.elm';
import { productData } from '../mock/productData';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Display</title>

  </head>
  <body
    class="font-sans flex flex-col justify-center items-center min-h-screen bg-gray-100 m-0"
  >
  	<h1 class="text-2xl font-bold mb-4">Product Display</h1>
    <ProductCard
      client:load
      imageUrls={productData.imageUrls}
      productName={productData.productName}
      price={productData.price}
      colors={productData.colors}
      description={productData.description}
      badge={productData.badge}
    />
  </body>
</html>
